name: Build

on:
  workflow_run:
    workflows: ["Test"] #workflow test.ymll
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }} # ตรวจสอบว่า workflow test สำเร็จ
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23"

      - name: Build and tag image
        id: build-image
        run: |
          IMAGE_TAG=$(echo "${GITHUB_SHA::7}")
          docker build -t api . --platform=linux/amd64
          docker tag api $IMAGE_TAG
          echo "image=$IMAGE_TAG" >> $GITHUB_OUTPUT
