name: Push to ECR

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Download image URI artifact
        uses: actions/download-artifact@v4
        with:
          name: image-uri

      - name: Read image URI
        id: read-image-uri
        run: echo "IMAGE_URI=$(cat image_uri.txt)" >> $GITHUB_ENV

      - name: Tag and push image to Amazon ECR
        run: |
          docker tag $IMAGE_URI $ECR_REGISTRY/$REPO_NAME:${IMAGE_URI##*:}
          docker push $ECR_REGISTRY/$REPO_NAME:${IMAGE_URI##*:}
