name: Push to ECR

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }} # ตรวจสอบว่า workflow build สำเร็จ
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Tag image
        id: tag-image
        run: |
          ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}
          IMAGE_URI="$ECR_REGISTRY/your-repo-name:${{ github.event.workflow_run.conclusion == 'success' && fromJson(github.event.workflow_run.outputs.build.outputs).image || '' }}"
          docker tag ${{ fromJson(github.event.workflow_run.outputs.build.outputs).image }} $IMAGE_URI
          echo "image=$IMAGE_URI" >> $GITHUB_OUTPUT
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}

      - name: Push image to Amazon ECR
        run: docker push ${{ steps.tag-image.outputs.image }}
