name: Push to ECR

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # - name: List available artifacts
      #   run: ls -R ${{ runner.temp }}/_github_workflow/
      #
      # - name: Download image URI artifact
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: image-uri
      #
      # - name: Read image URI
      #   id: read-image-uri
      #   run: echo "IMAGE_URI=$(cat image_uri.txt)" >> $GITHUB_ENV

      - name: Tag and push image to Amazon ECR
        run: |
          IMAGE_TAG=$(echo "${GITHUB_SHA::7}")
          docker build -t api . --platform=linux/amd64
          docker tag api $IMAGE_TAG
          docker tag $IMAGE_TAG ${{secrets.ECR_REGISTRY}}/${{vars.REPO_NAME}}:latest
          docker push ${{secrets.ECR_REGISTRY}}/${{vars.REPO_NAME}}:latest
