name: Push to ECR

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Tag and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/${{vars.REPO_NAME}}  . --platform=linux/amd64
          docker tag $ECR_REGISTRY/${{vars.REPO_NAME}} $ECR_REGISTRY/${{vars.REPO_NAME}}:latest 
          docker tag $ECR_REGISTRY/${{vars.REPO_NAME}} $ECR_REGISTRY/${{vars.REPO_NAME}}:$IMAGE_TAG 
          docker push $ECR_REGISTRY/${{vars.REPO_NAME}}
